<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Form update</title>

    <link
      type="text/html"
      th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div layout:fragment="form-update-accessory">
      <h1 class="text-success">hello</h1>
    </div>
  </body>
</html>
