<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add accessory</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary p-3" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">App</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto h5 ml-5">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/home}">Home </a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                ><span sec:authentication="name">Profile</span>
              </a>
              <div class="dropdown-menu">
                <a
                  class="dropdown-item"
                  th:href="@{/accessory/add}"
                  sec:authorize="hasRole('ADMIN')"
                >
                  Add Accessory
                </a>
                <a
                  class="dropdown-item"
                  th:href="@{/category/add}"
                  sec:authorize="hasRole('ADMIN')"
                >
                  Add Category
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">Logout</a>
              </div>
            </li>
          </ul>
          <form method="get" th:action="@{/home}" class="d-flex">
            <input
              class="form-control me-sm-2"
              type="search"
              placeholder="Search"
              name="keyword"
            />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </body>
  <div layout:fragment="home-page"></div>
  <div layout:fragment="add-accessory-page"></div>
  <div layout:fragment="add-category-page"></div>
</html>
